@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Permanent+Marker&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Permanent+Marker&family=Poiret+One&display=swap');

.Main{
  font-family: 'Permanent Marker', cursive;
  font-size:x-large;
  color: #DD7206;
  background-image: url("../images/headphones.jpg");
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: block;
}

.logo2{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  margin-left: 815px;
  margin-top: 37px;
}

button{
  width: 100px;
  height: 50px;
  font-family: 'Poiret One', cursive;
  font-size: 80%;
  font-weight: bolder;
  color: #DD7206;
  cursor: pointer;
}

.vol{
  display: inline-block;
  margin-left: 550px;
}

.logout{
  margin-left: 27%;
}

.header{
  text-shadow: 2px 2px #ff0000;
}

.upper{
  margin-left: 80px; 
  display: inline-block;
}

.middle_h{
  float:left; 
  font-family: 'Poiret One', cursive;
  width:70%;
  height:600px;
  text-align: left;
  /* position: relative; */
  left: 6em;
  overflow-y: scroll;
}

.left{
  float:left; 
  width:14.9%;
  height:600px;
  border-right: 1px solid white;
}

.right{
  float:right;
  font-family: 'Poiret One', cursive;
  width:14.9%;
  height:600px;
  border-left: 1px solid white;
}

.buttom{
  position: fixed;
  top: 85%;
  left: 25%;
  width:50%;
  height:100px;
}

.divider{
  width: 1px;
  min-height: 400px;
  background: white;
}

.homeButton{
  width: 150px;
  height: 40px;
  background-color: Transparent; 
  border: none;
  font-family: 'Poiret One', cursive;
  font-size: 125%;
  font-weight: bolder;
  color: #DD7206;
  cursor: pointer;
  background: url("../images/home.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 100%;
  vertical-align:middle;
}


.profileButton{
    width: 150px;
    height: 40px;
    background-color: Transparent; 
    border: none;
    font-family: 'Poiret One', cursive;
    font-size: 125%;
    font-weight: bolder;
    color: #DD7206;
    cursor: pointer;
    background: url("../images/profile.png");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 100%;
    vertical-align:middle;
  }

  .searchButton{
    width: 150px;
    height: 40px;
    background-color: Transparent; 
    border: none;
    font-family: 'Poiret One', cursive;
    font-size: 125%;
    font-weight: bolder;
    color: #DD7206;
    cursor: pointer;
    background: url("../images/search.png");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 100%;
    vertical-align:middle;
  }

  .libraryButton{
    width: 150px;
    height: 40px;
    background-color: Transparent; 
    border: none;
    font-family: 'Poiret One', cursive;
    font-size: 125%;
    font-weight: bolder;
    color: #DD7206;
    cursor: pointer;
    background: url("../images/library.png");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 100%;
    vertical-align:middle;
  }

.userInfo{
  display: inline-block;
  margin-left: 2%;
}

.editButton{
  width: 150px;
  height: 40px;
  border: none;
  font-family: 'Poiret One', cursive;
  font-size: 125%;
  font-weight: bolder;
  color: #DD7206;
  cursor: pointer;
  float: right;
  position: relative;
  right: 5em;
  top: 1em;
  background: url("../images/pen.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 80%;
  vertical-align:middle;
}

.artistButton{
  width: 150px;
  height: 40px;
  border: none;
  font-family: 'Poiret One', cursive;
  font-size: 125%;
  font-weight: bolder;
  color: #DD7206;
  cursor: pointer;
  float: right;
  position: relative;
  right: 5em;
  top: 1em;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 80%;
  vertical-align:middle;
  background-color: Transparent; 
}

.myMusic{
  display: inline-block;
}